@font-face {
    font-family:"monstserrat";
    src: url("fontsmontserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}


@font-face {
    font-family:"monstserrat";
    src: url("./fontsmontserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family:"monstserrat";
    src: url("./Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
}


@font-face {
    font-family:"dancing";
    src: url("./DancingScript-Bold.ttf") format("truetype");
    font-weight: 900;
}


    @font-face {
        font-family:"edo";
        src: url("fontsedo/edo.ttf") format("truetype");
        font-weight: 900;
    }